language: python

python:
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - pypy3

install:
  - pip install pytest pytest-cov flake8 pep8 vcrpy
  - pip install -U setuptools>=18.5
  - pip install -e .

script:
  - pep8 --exclude=tests .
  - flake8 --exclude=tests .
  - py.test

after_success:
  - bash <(curl -s https://codecov.io/bash)
