language: python

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - pypy
  - pypy3

install:
  - pip install -U setuptools>=18.5
  - pip install "pytest>=3.6" pytest-cov flake8 vcrpy
  - pip install -e .

script:
  - flake8 legipy
  - py.test

after_success:
  - bash <(curl -s https://codecov.io/bash)
